html,
body {
  height: 100%;
}
button {
  cursor: pointer;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  height: 10%;
  font-size: 30px;
  font-weight: 600;
  line-height: 110%;
  color: rgba(36, 36, 36, 1);
  margin-bottom: 70px;
}
.form_wrapper {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 101px;
}
.calc_form_wrapper {
  z-index: 1;
  width: 387px;
  height: 499px;
  background-color: rgba(248, 246, 245, 1);
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.switcher {
  background-color: rgba(226, 212, 204, 1);
  border-radius: 8px;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 2%;
}
.calc_form_radio_btn {
	display: inline-block;
}
.calc_form_radio_btn input[type=radio] {
	display: none;
}
.calc_form_radio_btn label {
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}
.calc_form_radio_btn input[type=radio]:checked + label {
	background-color: rgba(192, 161, 144, 1);
}
.calc_form_radio_btn input[type=radio]:disabled + label {
	background: rgba(226, 212, 204, 1);
}
/* .bathhouse {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(226, 212, 204, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.house {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.small {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(226, 212, 204, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
} */
.sheet_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sheet_string {
  font-size: 16px;
  line-height: 100%;
  color: rgba(80, 80, 80, 1);
}
.total_form {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.total {
  font-size: 16px;
  line-height: 100%;
  color: rgba(80, 80, 80, 1);
}
.summ {
  font-size: 20px;
  line-height: 100%;
  text-align: right;
  color: rgba(80, 80, 80, 1);
}
.send_button {
  width: 275px;
  height: 50px;
  background-color: rgba(192, 161, 144, 1);
  border-radius: 8px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2%;
  border: none;
}
.white_string {
  font-size: 14px;
  line-height: 100%;
  color: white;
}
.image_wrapper {
  width: 712px;
  height: 469px;
}
.house_image {
  width: 712px;
  height: 469px;
  display: inline-block;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url(./img/banya1fasad42.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.dropdown_menu{
  display: none;
  background-color: #fafafa;
  width:214px;
  z-index: 2;
  position: absolute;
  bottom: 64px;
  right: -117%;
  padding: 0;
  box-shadow: 0px 14px 24px rgba(51, 51, 51, 0.12);
  border-radius: 8px;
}
.dropdown_menu::before {
  content: ""; 
	border: solid transparent;
	position: absolute;
 	top: 100%;
	left: 50%;
	border-top-color: #fafafa;
	border-width: 9px;
	margin-left: -9px;
  box-shadow: 0px 14px 24px rgba(51, 51, 51, 0.12);
}
li{
  list-style: none;
  padding-left: 16px;
  padding-top: 13px;
  padding-bottom: 12px;
  padding-right: 12px;
  cursor: pointer;
}
li:hover{
background-color: #f9f6f4;
}
.menu_active{
  display: block;
}
.plus_image_square_wrapper{
  left: 80%;
  top: 12%;
  position: absolute;
  flex-direction:column;
}
.plus_image_square {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  border: none;
  background-image: url(./img/crl.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.plus_image_roof_wrapper {
  left: 50%;
  top: 4%;
  position: absolute;
}
.plus_image_roof {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  border: none;
  background-image: url(./img/crl.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.plus_image_sceleton_wrapper {
  left: 67%;
  top: 50%;
  position: absolute;
}
.plus_image_sceleton {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  border: none;
  background-image: url(./img/crl.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.plus_image_foundation_wrapper {
  left: 28%;
  top: 75%;
  position: absolute;
}
.plus_image_foundation {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  border: none;
  background-image: url(./img/crl.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.plus_image_log_wrapper {
  left: 15%;
  top: 61%;
  position: absolute;
}
.plus_image_log {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  border: none;
  background-image: url(./img/crl.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .form_wrapper {
    flex-direction: column;
    gap: 0px;
  }
  .calc_form_wrapper {
    width: auto;
  }
}

@media (max-width: 768px) {
  .form_wrapper {
    flex-direction: column;
    gap: 0px;
  }
  .calc_form_wrapper {
    width: auto;
  }
  .image_wrapper {
    width: 375px;
    height: 250px;
  }
  .house_image {
    width: 375px;
    height: 250px;
  }
  .plus_image_foundation {
    width: 40px;
    height: 40px;
  }
  .plus_image_log {
    width: 40px;
    height: 40px;
  }
  .plus_image_roof {
    width: 40px;
    height: 40px;
  }
  .plus_image_sceleton {
    width: 40px;
    height: 40px;
  }
  .plus_image_square {
    width: 40px;
    height: 40px;
  }
}
