html,
body {
  height: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  height: 10%;
  font-size: 30px;
  font-weight: 600;
  line-height: 110%;
  color: rgba(36, 36, 36, 1);
}
.form_wrapper {
  height: 90%;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.calc_form_wrapper {
  width: 32%;
  height: 499px;
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 47px; */
  background-color: rgba(248, 246, 245, 1);
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.switcher {
  background-color: rgba(226, 212, 204, 1);
  border-radius: 8px;
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.bathhouse {
  height: 50px;
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px; */
  background-color: rgba(226, 212, 204, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.house {
  height: 50px;
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px; */
  background-color: rgba(192, 161, 144, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.small {
  height: 50px;
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px; */
  background-color: rgba(226, 212, 204, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sheet_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sheet_string {
  font-size: 16px;
  line-height: 100%;
  color: rgba(80, 80, 80, 1);
}
.total_form {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.total {
  font-size: 16px;
  line-height: 100%;
  color: rgba(80, 80, 80, 1);
}
.summ {
  font-size: 20px;
  line-height: 100%;
  text-align: right;
  color: rgba(80, 80, 80, 1);
}
.send_button {
  width: 327px;
  height: 50px;
  /* padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px; */
  background-color: rgba(192, 161, 144, 1);
  border-radius: 8px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.white_string {
  font-size: 14px;
  line-height: 100%;
  color: white;
}
.image_wrapper {
  width: 68%;
  height: 100%;
}
.house_image {
  width: 712px;
  height: 469px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url(./img/banya1fasad42.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.plus_image_square {
  width: 80px;
  height: 80px;
  left: 80%;
  top: 12%;
  border-radius: 8px;
  background-image: url(./img/crl.png);
  background-repeat: no-repeat;
  position: absolute;
}
.plus_image_roof {
  width: 80px;
  height: 80px;
  left: 50%;
  top: 4%;
  border-radius: 8px;
  background-image: url(./img/crl.png);
  background-repeat: no-repeat;
  position: absolute;
}
.plus_image_sceleton {
  width: 80px;
  height: 80px;
  left: 67%;
  top: 50%;
  border-radius: 8px;
  background-image: url(./img/crl.png);
  background-repeat: no-repeat;
  position: absolute;
}
.plus_image_foundation {
  width: 80px;
  height: 80px;
  left: 28%;
  top: 75%;
  border-radius: 8px;
  background-image: url(./img/crl.png);
  background-repeat: no-repeat;
  position: absolute;
}
.plus_image_log {
  width: 80px;
  height: 80px;
  left: 13%;
  top: 57%;
  border-radius: 8px;
  background-image: url(./img/crl.png);
  background-repeat: no-repeat;
  position: absolute;
}
